.card_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    background-color: #f3c148;
    width: 700px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 20px;
    border-radius: 5px;
    margin-top: 5%;
    height: auto;
}
.title{
    font-size: 28px;
    color: #544259;
}
.url{
    font-size: 24px;
    text-decoration: none;
    font-weight: 500;
    color: #544259;
}
.created_at, .author, .comments, .no_comments{
    color: #544259;
    font-size: 22px;
}
.buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.go_back, .reloadComments{
    width: 100px;
    height: 30px;
    align-items: center;
    background-color: transparent ;
    color:#544259 ;//#f5e342
    font-weight: 700;
    font-size: 20px;
    border-radius: 15px;
    text-decoration: none;
    text-align: center;
    border:2px solid #544259;
    cursor: pointer;
}
.reloadComments{
    width: 200px;
   border-radius: 10px;
   
}